body {
  background-image: url(/images/classroomBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  color: snow;
  background-color: burlywood;
  text-align: center;
  height: 2500px;
}

.snape__container {
  width: auto;
  text-align: center;
  position: relative;
}
.speech__bubble {
  position: absolute;
  top: 10%;
  left: 55%;
  height: 20px;
  width: 100px;
  border: dotted;
  border-radius: 20px;
  padding: 10px;
  color: whitesmoke;
  opacity: 0;
  transform: rotate(30deg);
}
.professor__snape__img {
  width: 400px;
  height: auto;
}
.professor__snape__img:hover {
  opacity: 80%;
}
.snape__info {
  text-shadow: 4px 3px black;
  font-size: 36px;
  padding: 30px;
}

.start__button {
  padding: 20px;
  font-size: 40px;
  border-radius: 20px;
}
.start__button:hover {
  transform: scale(1.15);
}
.students__wrapper h1 {
  text-shadow: 4px 3px black;
  font-size: 36px;
  padding: 30px;
}

img {
  width: 250px;
  height: 300px;
  border-radius: 30px;
}
.students__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  color: black;
  padding-top: 50px;
}

.students__container div {
  border-radius: 20px;
  width: 20%;
}
.students__container h3 {
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  font-size: 30px;
  background-color: white;
  margin: 0px 20px;
}
.students__container p {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  font-size: 30px;
  background-color: white;
  margin: 0px 20px;
}

.students__container button {
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 10px;
}
