* {
  padding: 0;
  margin: 0;
}
img {
  width: 150px;
  height: 200px;
}

#cards {
  width: 1000px;
}
ul {
  text-align: left;
  background-color: grey;
}
li {
  background-color: grey;
  padding: 20px;
  width: 150px;
  height: 250px;
  border: 1px solid black;

  display: inline-block;
  vertical-align: top;
}
li:hover {
  opacity: 70%;
  background-color: beige;
}
