* {
  padding: 0;
  margin: 0;
}
img {
  width: 150px;
  height: 200px;
}

#staff-cards {
  width: 100%;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(4, auto);
}
.staff-cards-wrapper {
  text-align: center;
  background-color: grey;
}
li {
  background-color: rgb(210, 102, 102);
  margin: 30px;
  width: 250px;
  height: 300px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  transition: transform 0.2s;
}
li:hover {
  transform: scale(1.1);
}
#patronus {
  display: none;
}
.cards:hover #patronus {
  background-color: white;
  display: block;
}
/*      Ikke ferdig

#House- {
  background-image: url(/images/allhouse.png);
  background-position: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
}
#House-Gryffindor {
  background-image: url(/images/gryffindor.png);
  background-position: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode:lighten;
  background-color: red;
}
#House-Slytherin {
  background-image: url(/images/slytherin.png);
  background-position: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode:lighten;
  background-color: green;
}
#House-Hufflepuff {
  background-image: url(/images/hufflepuff.png);
  background-position: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode:lighten;
  background-color: orange;
}
#House-Ravenclaw {
  background-image: url(/images/ravenclaw.png);
  background-position: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode:lighten;
  background-color: blue;
}
 */
.create-staff-form {
}
