* {
  padding: 0;
  margin: 0;
}
.house__gryffindor {
  background-image: url(/images/gryffindor.png);
  height: 600px;
}
.house__slytherin {
    background-image: url(/images/slytherin.png);
    height: 600px;
}
.house__ravenclaw {
    background-image: url(/images/ravenclaw.png);
    height: 600px;
}
.house__hufflepuff{
    background-image: url(/images/hufflepuff.png);
    height: 600px;
}